<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <th:block th:include="templates :: header"></th:block>
</head>

<body>

<th:block th:replace="templates :: navbar"></th:block>

<h2 class="text-center" th:text="${title}"></h2>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form accept-charset="UTF-8" th:object="${user}" th:method="@{/user/update}" method="post">
                        <fieldset>

                            <div class="form-group">
                                <label th:for="username">Username</label>
                                <input class="form-control" type="text" placeholder="Username"
                                       th:field="*{username}">
                                <span th:errors="*{username}" class="error"></span>
                                <span th:text="${DuplicateUsername}" class="error"></span>
                            </div>

                            <div class="form-group">
                                <label th:for="firstName">First name</label>
                                <input class="form-control" type="text" placeholder="Name"
                                       th:field="*{firstName}">
                                <span th:errors="*{firstName}" class="error"></span>
                            </div>

                            <div class="form-group">
                                <label th:for="lastName">Last name</label>
                                <input class="form-control" type="text" placeholder="Last name"
                                       th:field="*{lastName}">
                                <span th:errors="*{lastName}" class="error"></span>
                            </div>

                            <div class="form-group">
                                <label th:for="email">Email</label>
                                <input class="form-control" type="text" placeholder="E-mail"
                                       th:field="*{email}">
                                <span th:errors="*{email}" class="error"></span>
                                <span th:text="${DuplicateEmail}" class="error"></span>
                            </div>

                            <div class="form-group">
                                <label th:for="password">Password</label>
                                <input class="form-control" type="password" placeholder="Password"
                                       th:field="*{password}">
                                <span th:errors="*{password}" class="error"></span>
                            </div>

                            <div class="form-group">
                                <label>Confirm password</label>
                                <input class="form-control" type="password" placeholder="Confirm password"
                                       th:field="*{confirmPassword}">
                                <span th:errors="*{confirmPassword}" class="error"></span>
                                <br>
                                <span th:text="${PasswordMatch}" class="error"></span>
                            </div>

                            <div class="form-group">
                                <label th:for="role">Role</label>
                                <br>
                                <select class="form-control" th:field="*{role}">
                                    <option th:each="role : ${roles}" th:value="${role}"
                                            th:text="${role}"></option>

                                </select>
                            </div>

                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Update User">

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>