<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <th:block th:include="templates :: header"></th:block>
</head>

<body>

<th:block th:replace="templates :: navbar"></th:block>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default" th:object="${user}">

                <div class="panel-heading">
                    <h4 class="text-center title" th:text="*{firstName} + '&nbsp' + *{lastName}"></h4>
                </div>

                <div class="panel-body">

                    <div class="col-md-6 title">Id:</div>
                    <div class="col-md-6 text-center data" th:text="*{id}"></div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    <div class="col-md-6 title">Username:</div>
                    <div class="col-md-6 text-center data" th:text="*{username}"></div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    <div class="col-md-6 title">First Name:</div>
                    <div class="col-md-6 text-center data" th:text="*{firstName}"></div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    <div class="col-md-6 title">Last Name:</div>
                    <div class="col-md-6 text-center data" th:text="*{lastName}"></div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    <div class="col-md-6 title">Email:</div>
                    <div class="col-md-6 text-center data" th:text="*{email}"></div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    <div class="col-md-6 title">Role:</div>
                    <div class="col-md-6 text-center data" th:text="*{role}"></div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <h2 class="text-center">
                        <a href="/user/list" class="btn btn-success" role="button">Back</a>
                    </h2>
                </div>

            </div>

        </div>

    </div>

</div>

</body>
</html>