<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Users</title>

    <th:block th:include="templates :: header"></th:block>
    <th:block th:replace="templates :: style"></th:block>

</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header navbar-brand">
            Users
        </div>

        <th:block th:replace="templates :: navbar"></th:block>

    </div>
</nav>

<h2 class="text-center">Users</h2>

<div class="container-fluid row">

    <div class="col-md-11"></div>

    <div class="col-md-1">
        <a href="/user/add" class="btn btn-success">Add</a>
    </div>

</div>

<br>
<table class="table table-bordered table-hover">

    <thead>
    <tr class="active">
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody th:each="user : ${users}">
    <tr>
        <td class="data" th:text="${user.firstName}"></td>
        <td class="data" th:text="${user.lastName}"></td>
        <td class="data" th:text="${user.email}"></td>
        <td>
            <a th:href="@{/user/(id=${user.id})}" class="btn btn-info">VIEW</a>
            &nbsp
            <a th:href="@{/user/delete/(id=${user.id})}" class="btn btn-danger">DELETE</a>
            &nbsp
            <a th:href="@{/user/update/(id=${user.id})}" class="btn btn-primary">EDIT</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>