<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Product</title>

    <th:block th:include="templates :: header"></th:block>
    <th:block th:replace="templates :: style"></th:block>

</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header navbar-brand">
            Product
        </div>

        <th:block th:replace="templates :: navbar"></th:block>

    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default" th:object="${product}">

                <div class="panel-heading">
                    <h4 class="text-center title" th:text="*{name}"></h4>
                </div>

                <div class="panel-body">

                    <div class="col-md-6 title">Id:</div>
                    <div class="col-md-6 text-center data" th:text="*{id}"></div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    <div class="col-md-6 title">Name:</div>
                    <div class="col-md-6 text-center data" th:text="*{name}"></div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    <div class="col-md-6 title">Price:</div>
                    <div class="col-md-6 text-center data" th:text="*{price}"></div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    <div class="col-md-6 title">Manufacturer:</div>
                    <div class="col-md-6 text-center data" th:text="*{manufacturer.name}"></div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <h2 class="text-center">
                        <a href="/product/list" class="btn btn-success" role="button">Back</a>
                    </h2>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>