<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Edit Product</title>

    <th:block th:include="templates :: header"></th:block>
    <th:block th:replace="templates :: style"></th:block>

</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header navbar-brand">
            Edit Product
        </div>

        <th:block th:replace="templates :: navbar"></th:block>

    </div>
</nav>

<h2 class="text-center">Edit Product</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form th:object="${product}" th:method="@{/product/update/}" method="post">
                        <fieldset>

                            <input type="hidden" th:field="*{id}">

                            <div class="form-group">
                                <label th:for="name">Name</label>
                                <input class="form-control" type="text" placeholder="Name"
                                       th:field="*{name}">
                                <span th:errors="*{name}" class="error"></span>
                                <span th:text="${DuplicateProductName}" class="error"></span>
                            </div>

                            <div class="form-group">
                                <label th:for="price">Price</label>
                                <input class="form-control" type="text" placeholder="Price"
                                       th:field="*{price}">
                                <span th:errors="*{price}" class="error"></span>
                            </div>

                            <div class="form-group">
                                <label th:for="manufacturer.id">Manufacturer</label>
                                <br>
                                <select class="form-control" th:field="*{manufacturer.id}">
                                    <option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer.id}"
                                            th:text="${manufacturer.name}"></option>
                                </select>
                            </div>

                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Update Product">

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>