<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <th:block th:include="templates :: header"></th:block>
    <th:block th:replace="templates :: style"></th:block>
</head>

<body>

<th:block th:replace="templates :: logout_navbar"></th:block>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="panel border-panel"
                 th:if="${product} != null"
                 th:object="${product}">

                <div class="panel-heading title-panel">
                    <h4 class="text-center" th:text="*{name}"></h4>
                </div>

                <div class="panel-body" style="margin-top: 30px;">

                    <div class="row indent">
                        <div class="col text-center title">Id:</div>
                        <div class="col text-center data" th:text="*{id}"></div>
                    </div>

                    <div class="row indent">
                        <div class="col text-center title">Name:</div>
                        <div class="col text-center data" th:text="*{name}"></div>
                    </div>

                    <div class="row indent">
                        <div class="col text-center title">Price:</div>
                        <div class="col text-center data" th:text="*{price}"></div>
                    </div>

                    <div class="row indent">
                        <div class="col text-center title">Manufacturer:</div>
                        <div class="col text-center data">
                            <a th:href="@{/manufacturer/(id=*{manufacturer.id})}" th:text="*{manufacturer.name}"></a>
                        </div>
                    </div>

                    <h2 class="text-center" style="margin-bottom: 20px;">
                        <a th:href="@{/product/list}" class="btn btn-success" role="button">Back</a>
                    </h2>
                </div>

            </div>

            <div class="panel" th:if="${product} == null">
                <div class="panel-heading" style="margin-top: 60px;">
                    <h4 class="text-center">Object not found</h4>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>