<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <th:block th:include="templates :: header"></th:block>
    <th:block th:replace="templates :: style"></th:block>
</head>

<body>

<th:block th:replace="templates :: logout_navbar"></th:block>

<div class="container-fluid">

    <div class="col-11"></div>

    <div class="col-1 ml-auto">
        <a th:href="@{/product/add}" class="btn btn-success" style="margin-top: 32px;">Add</a>
    </div>

</div>

<h2 th:text="${title}" style="text-align: center;" class="indent"></h2>

<table class="table table-bordered table-hover">

    <thead>
    <tr class="active">
        <th>Name</th>
        <th>Price</th>
        <th>Manufacturer</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody th:each="product : ${products}">
    <tr>
        <td class="data" th:text="${product.name}"></td>
        <td class="data" th:text="${product.price}"></td>
        <td class="data" th:text="${product.manufacturer.name}"></td>
        <td>
            <a th:href="@{/product/(id=${product.id})}" class="btn btn-info">VIEW</a>
            &nbsp
            <button type="button" class="btn btn-danger" data-toggle="modal"
                    th:data-target="'#deleteModal_id=' + ${product.id}">DELETE
            </button>
            &nbsp
            <a th:href="@{/product/update/(id=${product.id})}" class="btn btn-primary">EDIT</a>
        </td>
    </tr>

    <div th:id="'deleteModal_id=' + ${product.id}" class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Are you sure?</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete these records? This process cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a th:href="@{/product/delete/(id=${product.id})}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>

    </tbody>

</table>

<th:block th:include="templates :: allJss"></th:block>

</body>
</html>