<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <th:block th:include="templates :: header"></th:block>
</head>

<body>

<th:block th:replace="templates :: logout_navbar"></th:block>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form th:object="${product}" th:method="@{/product/add}" method="post">
                        <fieldset>

                            <legend th:text="${title}"></legend>

                            <div class="form-group">
                                <label th:for="name">Name</label>
                                <input class="form-control" type="text" placeholder="Name" th:field="*{name}" required>
                                <span th:text="${DuplicateProductName}" class="error"></span>
                            </div>

                            <div class="form-group">
                                <label th:for="price">Price</label>
                                <input class="form-control" type="number" min="0" step="0.01" placeholder="Price"
                                       th:field="*{price}" required>
                            </div>

                            <div class="form-group">
                                <label th:for="manufacturer.id">Manufacturer</label>
                                <br>
                                <select class="form-control" th:field="*{manufacturer.id}">
                                    <option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer.id}"
                                            th:text="${manufacturer.name}"></option>
                                </select>
                            </div>

                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Add product">

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>