<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Sing Up</title>

    <th:block th:include="templates :: header"></th:block>
    <th:block th:replace="templates :: style"></th:block>

</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header navbar-brand">
            Sing Up
        </div>

        <th:block th:replace="templates :: navbar"></th:block>

    </div>
</nav>

<h2 class="text-center">Sing Up</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form th:object="${user}" th:method="@{/singUp}" method="post">
                        <fieldset>

                            <div class="form-group">
                                <label>Username</label>
                                <input class="form-control" type="text" placeholder="Username"
                                       th:field="*{username}">
                                <span th:errors="*{username}" class="error"></span>
                                <span th:text="${DuplicateUsername}" class="error"></span>
                            </div>

                            <div class="form-group">
                                <label>First name</label>
                                <input class="form-control" type="text" placeholder="First name"
                                       th:field="*{firstName}">
                                <span th:errors="*{firstName}" class="error"></span>
                            </div>

                            <div class="form-group">
                                <label>Last name</label>
                                <input class="form-control" type="text" placeholder="Last name"
                                       th:field="*{lastName}">
                                <span th:errors="*{lastName}" class="error"></span>
                            </div>

                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" type="text" placeholder="E-mail"
                                       th:field="*{email}">
                                <span th:errors="*{email}" class="error"></span>
                                <span th:text="${DuplicateEmail}" class="error"></span>
                            </div>

                            <div class="form-group">
                                <label>Password</label>
                                <input class="form-control" type="password" placeholder="Password"
                                       th:field="*{password}">
                                <span th:errors="*{password}" class="error"></span>
                            </div>

                            <div class="form-group">
                                <label>Confirm password</label>
                                <input class="form-control" type="password" placeholder="Confirm password"
                                       th:field="*{confirmPassword}">
                                <span th:errors="*{confirmPassword}" class="error"></span>
                                <br>
                                <span th:text="${PasswordMatch}" class="error"></span>
                            </div>
                            <br>

                            <input class="btn btn-success btn-block" type="submit" value="Sing Up">

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>