<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <th:block th:include="templates :: header"></th:block>
</head>

<body>

<th:block th:replace="templates :: navbar"></th:block>

<div class="container-fluid">

    <div class="col-md-11"></div>

    <div class="col-md-1">
        <a th:href="@{/manufacturer/add}" class="btn btn-success">Add</a>
    </div>

</div>

<table class="table table-bordered table-hover">

    <caption th:text="${title}"></caption>

    <thead>
    <tr class="active">
        <th>Id</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody th:each="manufacturer : ${manufacturers}">
    <tr>
        <td class="data" th:text="${manufacturer.id}"></td>
        <td class="data" th:text="${manufacturer.name}"></td>
        <td>
            <a th:href="@{/manufacturer/(id=${manufacturer.id})}" class="btn btn-info">VIEW</a>
            &nbsp
            <a th:href="@{/manufacturer/delete/(id=${manufacturer.id})}" class="btn btn-danger">DELETE</a>
            &nbsp
            <a th:href="@{/manufacturer/update/(id=${manufacturer.id})}" class="btn btn-primary">EDIT</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>