<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <th:block th:include="templates :: header"></th:block>
</head>

<body>

<th:block th:replace="templates :: logout_navbar"></th:block>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default"
                 th:if="${manufacturer} != null"
                 th:object="${manufacturer}">

                <div class="panel-heading">
                    <h4 class="text-center title" th:text="*{name}"></h4>
                </div>

                <div class="panel-body">

                    <div class="col-md-6 title">Id:</div>
                    <div class="col-md-6 text-center data" th:text="*{id}"></div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    <div class="col-md-6 title">Name:</div>
                    <div class="col-md-6 text-center data" th:text="*{name}"></div>

                    <div th:if="!${#lists.isEmpty(products)}">
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>
                        <div class="col-md-6 title">Products:</div>
                        <div class="col-md-6 text-center data">
                            <div th:each="product : ${products}">
                                <a th:href="@{/product/(id=${product.id})}" th:text="${product.name}"></a>
                                <br>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    <h2 class="text-center">
                        <a th:href="@{/manufacturer/list}" class="btn btn-success">Back</a>
                    </h2>

                </div>

            </div>

            <div class="panel panel-default" th:if="${manufacturer} == null">
                <div class="panel-heading">
                    <h4 class="text-center title">Object not found</h4>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>