<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <th:block th:include="templates :: header"></th:block>
</head>

<body>

<th:block th:replace="templates :: logout_navbar"></th:block>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form th:object="${manufacturer}" th:method="@{/manufacturer/add}" method="post">
                        <fieldset>

                            <legend th:text="${title}"></legend>

                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                            <div class="form-group">
                                <label th:for="name">Name</label>
                                <input class="form-control" type="text" placeholder="Name" th:field="*{name}" required>
                                <span th:text="${DuplicateManufacturer}" class="error"></span>
                            </div>

                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Add Manufacturer">

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>