<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Manufacturer Update</title>

    <th:block th:include="templates :: header"></th:block>
    <th:block th:replace="templates :: style"></th:block>

</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header navbar-brand">
            Edit Manufacturer
        </div>

        <th:block th:replace="templates :: navbar"></th:block>

    </div>
</nav>

<h2 class="text-center">Edit Manufacturer</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form th:object="${manufacturer}" th:method="@{/manufacturer/update/}" method="post">
                        <fieldset>

                            <div class="form-group">
                                <label th:for="name">Name</label>
                                <input class="form-control" type="text" placeholder="Name"
                                       th:field="*{name}">
                                <span th:errors="*{name}" class="error"></span>
                                <span th:text="${DuplicateManufacturer}" class="error"></span>
                            </div>

                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Update Manufacturer">

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>